<footer id="footer__section">
   <div class="callout__section">
     <div class="callout--grid">
       <div class="callout--details">
         <h2 class="callout--title">Ready To Book?</h2>
         <p class="callout--text">
           Choose whatever and however you, your family and your friends
           would like to spend your time here
         </p>
       </div>
       <a href="#" class="callout--btn">Book Now</a>
     </div>
   </div>
   <div class="footer--flex">
     <section class="footer--details collapsible">
       <h2 class="footer--heading footer__toggler">Products</h2>
       <ul class="footer--list collapsible__content">
         <li>Spa Centers</li>
         <li>5 star Resturant</li>
         <li>Water Park</li>
         <li>5 star Housing</li>
       </ul>
     </section>
     <section class="footer--details collapsible">
       <h2 class="footer--heading footer__toggler">Company</h2>
       <ul class="footer--list collapsible__content">
         <li>About</li>
         <li>Affliates</li>
         <li>Blog</li>
         <li>News</li>
       </ul>
     </section>
     <section class="footer--details collapsible">
       <h2 class="footer--heading footer__toggler">Supports</h2>
       <ul class="footer--list collapsible__content">
         <li>Contact</li>
         <li>Updates</li>
         <li>Enterprise</li>
         <li>System</li>
       </ul>
     </section>
   </div>
   <div class="lastly">
     <div class="social">
       <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
       <a href="#">Twitter</a>
       <a href="#">Facebook</a>
     </div>
     <p class="copyright">Copyrights 2023</p>
   </div>
 </footer>