<section class="services">
   <div class="services--heading">
     <h2 class="services--title">Dream Vk...Where Dreams come true</h2>
   </div>
   <div class="image--grid">
     <div class="image--box featured__1">
       <img
         class="img_1 image"
         src="images/pexels-keegan-checks-14524363.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img 
       class="img_2 image" 
       src="images/pexels-belle-co-785065.jpg" 
       alt="" />
     </div>
     <div class="image--box">
       <img
         class="img_3 image"
         src="images/pexels-jean-van-der-meulen-1457842.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img
         class="img_4 image"
         src="images/pexels-asad-photo-maldives-1268871.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img
         class="img_5 image"
         src="images/pexels-keegan-checks-12715452.jpg"
         alt=""
       />
     </div>
     <div class="image--box featured__2">
       <img
         class="img_6 image"
         src="images/pexels-joseph-redfield-3379402.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img
         class="img_7 image"
         src="images/pexels-max-vakhtbovych-7018828.jpg"
         alt=""
       />
     </div>
     <div class="image--box featured__3">
       <img class="img_8 image" src="images/pexels-pixabay-33162.jpg" alt="" />
     </div>
     <div class="image--box ">
       <img
         class="img_9 image"
         src="images/pexels-quang-nguyen-vinh-14024796.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img
         class="img_10 image"
         src="images/pexels-team-picsfast-8753671.jpg"
         alt=""
       />
     </div>
     <div class="image--box">
       <img class="img_11 image" src="images/pexels-urb-urb-8506437.jpg" alt="" />
     </div>
     <div class="image--box">
       <img
         class="img_12 image"
         src="images/pexels-valeria-boltneva-1860201.jpg"
         alt=""
       />
     </div>
   </div>
 </section>