<section class="testimonails">
   <div class="testimonial__grid">
     <div class="customer">
       <img
         class="testimonial__image"
         src="images/pexels-bigthink-entertainment-7505207.jpg"
         alt=""
       />
       <h3 class="testimonial__heading">Alexandra Kane</h3>
       <blockquote class="quote">
         <p class="customer__voice">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum
           nam vitae deserunt recusandae veniam totam porro eius minus
           laboriosam. Fuga.
         </p>
       </blockquote>
     </div>
     <div class="customer">
       <img
         class="testimonial__image"
         src="images/pexels-fabrizio-velez-14162135.jpg"
         alt=""
       />
       <h3 class="testimonial__heading">Alexandra Kane</h3>
       <blockquote class="quote">
         <p class="customer__voice">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum
           nam vitae deserunt recusandae veniam totam porro eius minus
           laboriosam. Fuga.
         </p>
       </blockquote>
     </div>
     <div class="customer">
       <img
         class="testimonial__image"
         src="images/pexels-pixabay-220453.jpg"
         alt=""
       />
       <h3 class="testimonial__heading">Alexandra Kane</h3>
       <blockquote class="quote">
         <p class="customer__voice">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum
           nam vitae deserunt recusandae veniam totam porro eius minus
           laboriosam. Fuga.
         </p>
       </blockquote>
     </div>
   </div>
 </section>